/*====================================================================*/
/*                             Configs                                */
/*====================================================================*/

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Anton&display=swap');

@font-face
{
    font-family: F1;
    src: url(./Fonts/TypewcondRegular.otf);
}
@font-face {
	font-family: F2;
	src: url(./Fonts/Paparazzi.ttf);
} 

:root
{
	--Vermelho1: #bc5960;
	--Vermelho2: #913a52;
	--Vermelho3: #632240;
	--Vermelho4: #3d1430;
	--Amarelo1: #eee98a;
	--Amarelo2: #e2b570;
	--Verde1: #b7d974;
	--Verde2: #5da75d;
	--Verde3: #39755c;
	--Verde4: #285454;
	--Verde5: #1f394d;
	--Azul1: #86e0ce;
	--Azul2: #3fa0a4;
	--Azul3: #286080;
	--Azul4: #192d50;
	--Azul5: #191b3f;
	--Ciano1: #e3f5f1;
	--Ciano2: #81afb5;
	--Ciano3: #446374;
	--Ciano4: #32495f;
	--Ciano5: #182e41;
	--Roxo1: #9f3c91;
	--Roxo2: #452060;
	--Roxo3: #291546;
	--Roxo4: #070c1d;
}
*
{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
	list-style: none;
}
body
{
	background-image: url(./Images/4d-wallpaper-1024x576.jpg);

	background-size:cover;
}


/*====================================================================*/
/*                             NAVBAR                                 */
/*====================================================================*/


#navbar
{
	background-color: var(--Azul3);
	color: var(--Ciano1);

	top: 0;
	width: 100%;

	display: flex;
	justify-content: center;
}
#navbar .navbar-container
{
	width: 90%;
	padding: 20px 0;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo
{
	height: 3.5rem;
	width: auto;
}

#navbar .navbar-container ul, a
{
	color: var(--Ciano1);

	display: flex;
	list-style: none;
    text-decoration: none;
	font-weight: bold;
}
a
{
	padding: 0 20px;

	font-size: 1.5rem;
	font-family: F2;
	letter-spacing: 0px;

	transition: all 300ms ease;
}
a:hover
{
	color:var(--Roxo4);

	transform:translateY(-3px);

	cursor: pointer;
}

/*====================================================================*/
/*                             ShowCase                               */
/*====================================================================*/


#showcase
{
	color: var(--Ciano1);

	margin-top: 20vh;

	display: flex;
	justify-content: center;
	align-items: center;
}
#showcase .showcase-container
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-primary
{
	background: var(--Azul2);
	color: var(--Ciano1);

	padding: 15px 60px;
	border-radius: 30px;
	letter-spacing: 1px;

	text-transform: uppercase;
	border: none;
	font-weight: bold;

	transition: all 300ms ease;
}

.btn-primary:hover
{
	background: var(--cor-secundaria);

	padding-top: -20px;
	color:red;
	cursor: pointer;

	transition: all 300ms ease;
}

#showcase .showcase-container h2
{
	font-size: 4.5rem;
	letter-spacing: 0.5rem;
	margin-bottom: 5vh;

	font-family: F1;
}
#showcase .showcase-container button
{
	font-size: 1rem;
	margin-bottom: 23vh;

	font-family: F2;
}

@keyframes ScrollDown
{
	0% {transform:translateY(+5px);}
	50% {transform:translateY(-5px);}
	100% {transform:translateY(+5px);}
}
#showcase .showcase-container i
{
	font-size: 2rem;
	margin-bottom: 10vh;

	animation-name: ScrollDown;
	animation-duration: 0.6s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
#showcase .showcase-container i:hover
{
	font-size: 2rem;
	margin-bottom: 10vh;
}


/*====================================================================*/
/*                             ShowCard                               */
/*====================================================================*/


#showcard
{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}
#showcard .showcard-container
{
    background-color: var(--Azul3);
    color: var(--Ciano1);

    height: auto;
    width: 550px;
    margin: 15px;
    padding: 25px;
    border-radius: 25px;
}
#showcard .showcard-container h2
{
    font-size: 4rem;

    text-align: center;
}
#showcard .showcard-container p
{
    font-size: 30px;

    font-family: F1; 
}

/*====================================================================*/
/*                           ShowCreators                             */
/*====================================================================*/

#showcreators {
	height: auto;
	width: auto;
	display: flex;
	justify-content: center;
	margin-top: 25vh;
}
#showcreators .showcreators-container {
	background-color: var(--Azul3);
    color: var(--Ciano1);

	height: auto;
    width: auto;
    margin: 15px;
    padding: 25px;
    border-radius: 25px;
	display: inline-block;
	justify-content: center;
}
#showcreators .showcreators-container h2{ 
	font-size: 4rem;

	text-align: center;
	margin-bottom: 20px;
}
#showcreators .showcreators-container-card{
	background-color: var(--Azul2);
    color: var(--Ciano1);

	width: 340px;
	height: 500px;
	display: inline-block;
	text-align: center;
	border-radius: 15px;
	margin: 5px 5px 5px 5px;
	
}